/* margin */
.pd_1 {
  margin: 90px 0;
}
.pd_2 {
  margin-bottom: 45px;
}
.pd_3 {
  margin: 30px 0;
}
.pd_4 {
  margin-bottom: 30px;
}
.pd_5 {
  margin-top: 130px;
}
.pd_6 {
  margin-bottom: 130px;
}

/* 강의리스트 */

.section1 {
  width: 100%;
  padding-left: calc(20% + 30px);
}

.section1 input {
  height: 45px;
}

.searchBtn {
  width: 100px;
  white-space: nowrap;
}

.courseCheckBox {
  width: 20%;
}
.courseList {
  width: 80%;
}

.checkBox_1,
.checkBox_2,
.checkBox_3 {
  width: 100%;
  border: 1px solid #c2c4c7;
  border-radius: 6px;
  padding: 30px;
  position: relative;
  background-color: #fff;
}

.form-check {
  margin-top: 30px;
}

.courseCheckBox hr {
  position: absolute;
  width: 100%;
  transform: translate(-30px, -8px);
}

.courseBox {
  width: 31%;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  margin: 0 30px 30px 0;
  padding: 0;
  overflow: hidden;
}

.courseBox:nth-child(3n + 0) {
  margin-right: 0;
}

.imgBox img {
  width: 100%;
  height: 200px;
}

.courseName{
  padding-top: 5px;
}

.contentBox {
  padding: 20px;
  width: 100%;
  height: 200px;
}

.contentBox .content_tt {
  color: #ff8744;
}

/* 모달 */
.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  display: none;
}

.modalBackground.active {
  display: block;
}

.modalBox {
  position: relative;
  top: calc(50vh - 250px);
  left: calc(50vw - 300px);
  background-color: #333f55;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 600px;
  height: 500px;
  padding: 45px;
}

.modalVideo {
  width: 510px;
  height: 287px;
  background-color: #e8f7ff;
  border-radius: 10px;
}

.modalVideo object {
  border-radius: 10px;
}

.modalBox i {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.modalBox h4,
.modalBox p {
  color: #fff;
  font-weight: 400;
}
.modalTitle {
  padding: 30px 15px 0;
  width: 100%;
}

/* 강의상세보기 */
.viewSetion_1 {
  width: 100%;
  height: 513px;
  border-radius: 15px;
  padding: 65px;
  background-color: #fff;
}

.viewSetion_1 img {
  width: 371px;
  height: 240px;
  border-radius: 10px;
  position: relative;
}

.viewCate {
  font-size: 14px;
}

.viewBtn button {
  width: 153px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 6px;
}

.viewBtn_1 button {
  width: 153px;
  height: 45px;
  box-sizing: border-box;
  border: solid 1px #333f55;
  background-color: #fff;
  border-radius: 6px;
}

.viewBtn_1 button.active {
  background-color: #333f55;
  color: #fff;
}

.viewTitleWrap {
  width: 100%;
  height: 240px;
}

/* 강의상세보기 리스트 */
.viewSection2,
.viewSection3 {
  width: 100%;
  border-radius: 15px;
  padding: 48px 63px;
  background-color: #fff;
}

.viewSection3Btn {
  text-align: center;
  margin-top: 45px;
}

.viewList {
  width: 100%;
  padding: 15px 75px;
  border-bottom: 1px solid #1e2226;
}

.viewList:last-child {
  border-bottom: none;
}

.viewList img {
  width: 150px;
  border-radius: 6px;
}

.viewImg {
  padding-right: 100px;
}

.viewList i {
  font-size: 40px;
  color: #727272;
}

.viewList i:hover {
  font-size: 40px;
  color: var(--point_primary_hover);
}

/* 강의상세보기 강의평 */
.reviewProfile {
  height: 45px;
}

.review img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewProfile .fw-bold {
  font-size: 20px;
}

.reviewProfile span:nth-child(3),
.reviewProfile span:nth-child(4) {
  color: #727272;
}

.reviewBox_1,
.reviewBox_2 {
  padding: 35px;
  background-color: #fffbd9;
  border-radius: 6px;
}
.reviewBox_1 {
  background-color: #fffbd9;
}
.reviewBox_2 {
  background-color: #e8f7ff;
}

.noview {
  text-align: center;
}

.noview img {
  width: 289px;
  height: 312px;
  padding-bottom: 20px;
}

.viewSection3 {
  display: none;
}

/* .rating svg {
  color: #ffca2c;
} */
