/* section1 */
.swiper {
  width: 100%;
  height: 520px;
}

.sec1_slide {
  text-align: center;
  font-size: 18px;
  background: #b36161;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background:  #fff;
  border: 2px solid var(--border_grey);
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: var(--point_primary);
  border: none;
}

.sec2,
.sec3,
.sec4,
.sec5 {
  margin-bottom: calc(var(--base_unit) * 3);
}

/* section2 */
.sec2 h2 {
  margin: calc(var(--base_unit) * 2.5) 0 var(--base_unit);
}

.sec2 ul {
  padding-left: 0;
}

.search {
  width: 600px;
  height: 50px;
  border-radius: 55px;
  border: 3px solid #ffdf9b;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background: #fff;
  margin-bottom: var(--base_unit);
}
.search.active {
  box-shadow: 0px 0px 0px 4.5px rgba(255, 202, 44, 0.2);
}

.search input {
  flex: 1;
  border: none;
  outline: none;
}

.search i {
  font-size: 36px;
  color: var(--point_yellow);
}

.sec2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category_box {
  width: 1220px;
  height: 130px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category_box ul {
  display: flex;
  gap: 45px;
}

.category_box ul {
  display: flex;
  gap: 40px;
}

.category_box ul img {
  margin-bottom: 8px;
  transition: 0.3s;
}

.category_box li:hover img {
  transform: scale(1.05);
  opacity: 0.7;
}

.sec_tt {
  font-size: 36px;
  margin-bottom: var(--base_unit);
}

/* section3 */
.card h5 {
  color: var(--dark, #1e2226);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.sec3 li {
  height: 280px;
}
.sec3 li .card img {
  height: 154px;
}

.sec3 .card h5 {
  font-size: 16px;
}

p {
  margin-bottom: 0;
}

.card_wrap li {
  position: relative;
}

.card {
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
  border: none;
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  z-index: 2;
  transition: 0.3s;
  opacity: 0;
}
.card_wrap li:hover .card:after,
.swiper-slide:hover .card:after {
  opacity: 100%;
}

.view_wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  z-index: 10;
  display: inline-block;
  transition: 0.3s;
  opacity: 0;
}
.card_wrap li:hover .view_wrap,
.swiper-slide:hover .view_wrap {
  opacity: 100%;
}
.view_btn {
  white-space: nowrap;
  border: 1.5px solid #fff;
  z-index: 10;
  padding: 0 30px;
  line-height: 45px;
  font-size: 20x;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.view_btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

.view_wrap a i {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.view_wrap span {
  display: flex;
  gap: 10px;
}

.view_wrap span a:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}

.card:hover {
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.3);
  transform: translateY(-10px);
}

.card img {
  border-radius: 12px 12px 0 0;
}

.card-text {
  text-align: right;
}

.card-text i,
.price {
  margin-right: 3px;
}

.card-text i,
.duration {
  margin-left: 6px;
}

.price {
  color: #ff8744;
  font-size: 24px;
  font-weight: 700;
}

.duration_wrap {
  color: #707070;
  font-size: 13px;
}

.card_wrap ul {
  gap: 20px;
}

.card_wrap .card {
  width: 236px !important;
}

/* section4 */
.sec4 .recom_slide .card,
.sec5 .new_slide .card {
  width: 100%;
  height: 390px;
  position: relative;
  white-space: nowrap;
}
.sec4 .recom_slide .card img,
.sec5 .new_slide .card img {
  height: 200px;
}
Àù .sec4 .swiper .swiper-slide,
.sec5 .swiper .swiper-slide {
  width: 350px !important;
}

.badge_wrap {
  margin-bottom: calc(var(--base_unit) * 0.5);
}

.badge_wrap .badge:first-child {
  margin-right: 5px;
}

.page_wrap {
  position: relative;
}

.sec4 .swiper-wrapper,
.sec5 .swiper-wrapper {
  width: 1100px;
  height: 425px;
  padding-top: 10px;
}

.sec4 .swiper,
.sec5 .swiper {
  width: 1130px;
  height: 425px;
}

.swiper-button-prev,
.swiper-button-next {
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #707070;
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
}

.sec4 .swiper-button-prev,
.sec5 .swiper-button-prev {
  left: 5px;
}

.sec4 .swiper-button-next,
.sec5 .swiper-button-next {
  right: 25px;
}

/* section6 */
.sec6 {
  margin: 0;
}

.sec6 img {
  width: 100%;
  object-fit: cover;
}

/* section7 */
.sec7 {
  text-align: center;
}

.sec7_content {
  gap: 60px;
  margin-top: 84px;
}

.sec7 h2 {
  color: var(--dark, #1e2226);
  text-align: center;
  font-size: 52px;
  line-height: 60px;
  margin-bottom: var(--base_unit);
}

.sec7 h3 {
  color: #7e7e7e;
  text-align: center;
  font-size: 28px;
  line-height: 28px;
}

.sec7 h4 {
  color: #5d87ff;
  font-family: "Jua", sans-serif;
  font-size: 36px;
}

.sec7 p {
  color: var(--dark, #1e2226);
  font-size: 18px;
  line-height: normal;
}

.sec7 img {
  width: 120px;
  height: 120px;
}

.sec7_box {
  padding: 40px;
  width: 600px;
  height: 440px;
  background: #eff3ff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
}

.sec7,
.sec8 {
  padding: calc(var(--base_unit) * 4) 0;
}

/* section8 */
.sec8 h2 {
  font-family: "Jua", sans-serif;
  font-size: 56px;
  line-height: 70px;
}

.sec8 h2 span {
  color: #ff8744;
}

.sec8 .pudding_is {
  font-size: 18px;
  line-height: 32px;
  margin-top: 50px;
}
.sec8 .swiper {
  width: 100%;
  height: 500px;
}
.sec8 .swiper-slide {
  padding: 15px;
  height: auto !important;
  margin-bottom: 0 !important;
}
.sec8 .review_slide p {
  font-size: 12px;
}
.reply_content {
  padding: 10px;
  margin-top: 10px;
}
.review_date {
  font-size: 10px;
}
.review_name {
  margin-right: 20px;
}
.review_user {
  margin-right: 15px;
}
.sec8 .review_wrap {
  width: 100%;
  font-size: 14px;
  padding: 15px;
}
.sec8 .userImg {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 8px;
}
.rating {
  color: var(--point_primary);
}

/* section9 */
.sec9 {
  height: calc(var(--base_unit) * 3);
}

.notice_slide {
  height: 38px;
  width: 1050px;
}

.sec9 .container {
  height: 100%;
}

.sec9 h2 {
  color: var(--label_color, #343a40);
  font-size: 20px;
  font-weight: 500;
}

.notice_slide .swiper-slide {
  border-radius: 5px;
  background: #eff3ff;
  background: #ffffff;
  padding: 0 25px;
  font-size: 14px;
}

.sec9 a i {
  margin-right: 6px;
}

/* popup */
.popup {
  font-size: 14px;
  line-height: 23px;
  border-color: var(--point_red);
  margin: 100px calc(var(--base_unit)*6) 0;
  border-radius: 5px;
  z-index: 9999;
  top: 0;
}

.popup p {
  margin: 0;
}

.popup dd {
  margin: 0;
}

.popup .bold,
.popup #daycheck:checked + label {
  font-weight: bold;
}

.popup .figma,
.popup .git {
  text-decoration: underline;
  color: var(--point_primary);
}


.popup hr {
  margin: 7px 0;
}

.popup #close {
  padding: 5px 20px;
  background-color: var(--point_red);
  color: #fff;
}
.popup #close:hover {background-color: var(--point_red_hover);}
.popup #close:active {background-color: var(--point_red_focus);}