/* login */
/* main {
 height: calc(100vh - 90px);
} */
main{
  padding: 90px 0;
}
.login_box{
  height: 630px;
}
.login_box,
.signup_box{
  width: 1184px;
  margin: 0 auto ;
  position: relative;
  /* top:60px; */
}
.login_box form,
.signup_box form{
  width: 300px;
}
.login_box form{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.login_box h2,
.login_box h3,
.signup_box h3{
  font-family: "Jua", sans-serif;
  margin-bottom: 35px;
}
.login_check, .id_pw, .login_box label,
.signup_box label{
  font-size: 14px;
}
.id_pw{
  font-size: 14px;
  margin-top: 90px;
  gap: 25px;
}
.id_pw a,
.id_pw button{
  position: relative;
}
.id_pw a:hover{
  font-weight: 500;
}
.id_pw a:after,
.id_pw button:after{
  content: "";
  position: absolute;
  /* top: 5px; */
  top:50%;
  transform: translateY(-50%);
  right: -13px;
  width: 2px;
  height: 12px;
  background: #aeaeae;
}
.id_pw button:last-child::after{
  width: 0;
}
.login_box .form-control,
.signup_box .form-control{
  height: 45px;
}

/* signup */
.swiper, .swiper-slide{
  width: 530px;
  height: 568px;
  border-radius: 12px;
}
.swiper-slide img{
  width: 100%;
  object-fit: cover;
}
.signup_box{
  padding: 45px 0;
  height: 100%;
}
.signup_box form{
  display: flex;
  flex-direction: column;
  gap:6px;
}

.btn.duplication_btn {
  padding-left: 15px !important;
  padding-right:15px !important;
  white-space: nowrap;
}
.btn.duplication_btn span {
width: 100%;
}

.form-control[type=file]{
  height: 45px;
  /* line-height: 45px; */
}
input[type="file"] {
  writing-mode: horizontal-tb !important;
}
input[type="file"]::file-selector-button {
  height: 45px;
}
.swiper-pagination-bullet {
  background: none;
  border: 2px solid var(--border_grey);
  width: 10px;
  height: 10px;
  /* outline: 2px solid var(--border_grey); */
}

.swiper-pagination-bullet-active {
  background: var(--pudding_bg);
  border: none;
}