/* notice.css */

/* layout */
.main_tt {
  padding-bottom  : 60px;
}


.notice_body {
  padding: 33px 56px 34px 56px;
  margin-top: 30px;
  margin-bottom: 90px;

}

/* 상단바 */
.notice_top {
  padding:20px 30px 23px 30px;
}

.notice_top_left {
  gap:30px;
}

.notice_top_left .input {  
  padding: 11.7px 95px 12.6px 16px;  
}
