/* mypage start */
.mypage_wrap {
  width:18%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 0;
}

.section_wrap{
  width: 82%;
}

.link_tag a {
  position: relative;
  z-index: 100;
}

aside nav {
  flex: 1;
}

.my_title {
  margin: 130px 0px 33px 0px;
}

.mypage_tag{
  margin-bottom: calc(var(--base_unit) / 2);
}

.mypage_tag:hover a {
  font-weight: 500;
}

.content_wrap {
 width: 100%;
  padding: 130px calc(var(--base_unit) * 2) calc(var(--base_unit) * 1.5);
}

.content_wrap > h1 {
  margin-bottom: calc(var(--base_unit) * 1.5);
  color: var(--dark);
  font-weight: 400;
  line-height: 100%;
}

/* profile box */

.profile_box {
  padding: 35px 44px;
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
  margin-right: 43px;
  position: relative;
  background-color: var(--white_bg);
}

.profile_box a i {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 1.4rem;
}

.profile_box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 52px;
  object-fit: cover;
}

.pudding_box {
  padding: 35px;
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.15);
  background-color: var(--pudding_bg);
}

.pudding_box h6 span {
  color: var(--point_red);
  font-weight: 700;
  margin-left: 5px;
}

.pudding_box h6 i {
  color: var(--point_red);
  font-weight: 700;
}

.pudding_box .content_tt {
  font-weight: 400;
}

/* course  */
.course_wrap {
  width: 100%;

  margin-bottom: calc(var(--base_unit) * 8);
  padding: calc(var(--base_unit) * 3) calc(var(--base_unit) * 2) 0px;
}

.content_wrap_course {
  width: 100%;
   padding: 130px calc(var(--base_unit) * 2) 0  calc(var(--base_unit) * 2);
 }

.course_wrap ul {
  padding-left: 10px;
}

.course_list img {
  width: 226px;
  height: 162px;
  margin-right: 20px;
}

.course_list {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 27px;
  margin-bottom: 27px;
}

.course_list_title {
  margin-bottom: calc(var(--base_unit) * 0.5);
}
.duration {
  color: #505050;
  font-style: 13px;
}
.course_list .ui-selectmenu-button.ui-button {
  width: 134px;
  margin-bottom: 10px;
}

.course_list .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.course_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course_list select {
  margin-bottom: 5px;
}
.level_price span {
  display: flex;
  align-items: center;
}
.status_box {
  position: relative;
  width: 100%;
}
.status_box .price {
  position: absolute;
  right: 220px;
  width: 200px;
  text-align: right;
}

.duration * {
  margin-right: calc(var(--base_unit) * 0.5);
}
.duration i {
  margin-right: calc(var(--base_unit) * 0.2);
}

a.btn {
  line-height: 32px;
}

/* mypage end */
/* 구매내역 start */
.sales_container {
  width: 100%;
  padding: 22px 84px;
  background-color: var(--white_bg);
  color: var(--dark);
}

.sales {
  text-align: center;
}

.sales thead {
  font-weight: 700;
}

.sales tbody tr td,
.sales thead tr th {
  padding: 20px 0px;
}

.sales .col1 {
  width: 15%;
}

.sales .col2 {
  width: 45%;
}

.sales .col3 {
  width: 20%;
}

.sales .col4 {
  width: 20%;
}

/* 구매내역 end */

/* 수강평 리스트 start */


.d_btn {
  /* margin-left: 10px; */
}
.review .col_1 {
  width: 15%;
}

.review .col_2 {
  width: 60%;
}

.review .col_3 {
  width: 25%;
}

/* 수강평 리스트 end */

/* 수강평 쓰기 start */
.card_container {
  position: relative;
  width: 100%;
  background-color: var(--white_bg);
  box-sizing: border-box;
}
.rate_wrap {
 position: relative;

}

select#rate {
  font-family: "FontAwesome";
  font-weight: 900;
  color: var(--point_primary);
  position: absolute;
  bottom:0;
  width: 11%;
  margin-bottom: var(--base_unit);
  margin-right: var(--base_unit);
}

.rates_wrap {
  margin-right: var(--base_unit);

}  

select#rates {
  font-family: "FontAwesome";
  font-weight: 900;
  color: var(--point_primary);
}


.userImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 20px var(--base_unit);
}

.review_user {
  margin-right: var(--base_unit);
}

.review_name {
  color: var(--dark);
  font-size: 16px;
  margin-right: var(--base_unit);
}



.c_reply_content {
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  margin: 0px var(--base_unit) var(--base_unit);
}

.re_reply_content {
  box-sizing: border-box;
  margin: var(--base_unit);
  background-color: #e8f7ff;
}

.re_reply_content p {
  margin-left: var(--base_unit);
  padding-bottom: var(--base_unit);
  margin-bottom: var(--base_unit);
}

textarea {
  width: 95%;
  /* margin-left: 15px; */
  padding: calc(var(--base_unit) * 0.5);
  border: 2px solid rgba(92, 135, 255, 0.5);
  background-color: var(--white_bg);
  border-radius: 5px;
}

textarea:focus {
  outline: none;
}

.reply_done {
  margin-right: calc(var(--base_unit) * 0.5);
}

.reply {
  margin-right: calc(var(--base_unit) * 1.3);
  margin-bottom: var(--base_unit);
}

.reply_content {
  padding: var(--base_unit) calc(var(--base_unit) * 2) var(--base_unit)
    var(--base_unit);
  background-color: var(--pudding_bg);
  width: 95%;
  margin-left: var(--base_unit);
}

/* 수강평 쓰기 end */

/* 수강평 상세보기 */

.rating {
  color: var(--point_primary);
  margin-right: calc(var(--base_unit) * 1.3);
}

.list_btn {
  margin-top: var(--base_unit);
}
.reply_btn_wrap_view{
  margin: 15px 30px 30px 30px;
}
/* .reply_btn_wrap{
  margin:calc(var(--base_unit) * 0.5) var(--base_unit);
} */

.d_btn{
  margin-left:5px;
}

/* 쿠폰함 */
.coupon_sub{
  color:red;
  display: block;
  padding-bottom: calc(var(--base_unit) * 0.5);
}
.coupon_box {
  width: 100%;
}
.coupon_box_able {
  width: 49%;
  border: 1px solid var(--dark);
}

.coupon_box_able .able {
  box-sizing: border-box;
  padding: 23px 25px;
  color: #7e7e7e;
}

.coupon_box_able .able h1 {
  display: block;
  padding-right: calc(var(--base_unit) * 0.5);
  color: var(--dark);
  cursor: pointer;
}

.coupon_box_able .able h1:hover {
 text-decoration: underline;
}

.coupon_box_able i {
  margin-top: 2px;
  margin-right: 10px;
}

.coupon_box_disable {
  width: 49%;
  border: 1px solid var(--dark);
}

/* coupon */
.content_wrap_cp {
  padding: var(--base_unit) calc(var(--base_unit) * 1.5);
  margin-bottom: calc(var(--base_unit) * 3);
}
.coupons .coupon {
  width: 49%;
  position: relative;
  padding: 15px;
}

.coupons ul {
  margin-bottom: 0;
  padding-left: 0; /* reboot? */
  gap: var(--base_unit) 0;
}

.coupons .coupon .text_box {
  margin-left: 20px;
}

.coupons .coupon h3 {
  font-weight: bold;
  margin: 15px 0 45px 0;
}

.coupons .coupon p {
  margin-bottom: 5px;
}

.coupons .coupon .icons,
.coupons .coupon .form-check {
  position: absolute;
  right: 15px;
}

.coupons .coupon .icons {
  font-size: 25px;
  top: 10px;
}

.coupons .coupon .form-check {
  bottom: 15px;
  transform: scale(1.5);
}

.c_count span:first-child{
  font-size:30px;
  font-weight: 600;
  color:var(--dark);
  cursor: pointer;
}

.c_count span:hover:first-child{
 text-decoration: underline;
}

/* 내강의실 */
/* margin */
.pd_1 {
  margin: 90px 0;
}
.pd_2 {
  margin-bottom: 45px;
}
.pd_3 {
  margin: 30px 0;
}
.pd_4 {
  margin-bottom: 30px;
}

.viewSetion_1 {
  width: 100%;
  height: 513px;
  border-radius: 15px;
  padding: 65px;
  background-color: #fff;
}

.viewSetion_1 img {
  width: 371px;
  height: 240px;
  border-radius: 10px;
  position: relative;
}

.viewCate {
  font-size: 14px;
}

.viewTitleWrap {
  width: 100%;
  height: 240px;
}

.viewSection2,
.viewSection3 {
  width: 100%;
  border-radius: 15px;
  padding: 48px 63px;
  background-color: #fff;
}

.viewSection2 {
  margin-bottom: 130px;
}

.viewList {
  width: 100%;
  padding: 15px 75px;
  border-bottom: 1px solid #1e2226;
}

.viewList:last-child {
  border-bottom: none;
}

.viewList img {
  width: 150px;
  border-radius: 6px;
}

.viewImg {
  padding-right: 100px;
}

.viewList i {
  font-size: 40px;
  color: #727272;
}

.viewList i:hover {
  font-size: 40px;
  color: var(--point_primary_hover);
}
/* 내강의실 끝 */


  .hide-usables {
    display: none;
}


.hide-expirings {
    display: block;
}



