.sub_header {
  margin-bottom: var(--base_unit);
}

.coupon_keyword_search {
  gap: var(--base_unit);
  flex: 1;
  justify-content: end;
  margin-right: var(--base_unit);
}
.coupon_keyword_search .input-group {
  width: 52%;
}

.coupon_status_search {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  height: calc(var(--base_unit)*5);
  margin-bottom: calc(var(--base_unit)*2);
}

.coupon_status_search > div {
  width: 33.33%;
}

.coupon_status_search > div + div {
  border-left: 1px solid;
}

.coupon_status_search > div em {
  margin-right: 5px;
}

.coupons .coupon {
  width: 49%;
  position: relative;
  padding: 15px;
}

.coupons ul {
  margin-bottom: 0;  
  padding-left: 0;/* reboot? */
  gap: var(--base_unit) 0;
}

.coupons .coupon .text_box {
  margin-left: 20px;
}

.coupons .coupon h3 {
  font-weight: bold;
  margin: 15px 0;
}

.coupons .coupon p {
  margin-bottom: 0;
}


.coupons .coupon .icons,
.coupons .coupon .form-check {
  position: absolute;
  right: 15px;
}

.coupons .coupon .icons {
  font-size: 25px;
  top: 10px;
}

.coupons .coupon .form-check {
  bottom: 15px;
  transform: scale(1.5);
}