.sub_header {
  margin-bottom: var(--base_unit);
}

.sub_header .btn {
  line-height: var(--base_unit);
}

.coupon_keyword_search {
  gap: calc(var(--base_unit)/2);
  flex: 1;
  justify-content: end;
  margin-right: calc(var(--base_unit)/2);
}
.coupon_keyword_search .input-group {
  width: 52%;
}

.coupon_filter label {
  cursor: pointer;
}
.coupon_status_search {
  border-top: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  height: calc(var(--base_unit)*5);
  margin-bottom: calc(var(--base_unit)*2);
}

.coupon_status_search > div {
  width: 33.33%;
}

.coupon_status_search > div + div {
  border-left: 1px solid;
}

.coupon_status_search > div em {
  margin-right: 5px;
}

.coupon_status_search label {
  position: relative;
}

.coupon_status_search label:hover {
  color: var(--point_primary);
}

.coupon_status_search label:hover:after {
  content: '';
  position: absolute;
  bottom: 8px;
  height: 1.5px;
  left: 2px;
  right: 2px;
  background-color: var(--point_primary);
}

.coupons .coupon {
  width: 49%;
  height: calc(var(--base_unit)*7);
  position: relative;
  padding: 15px;
}

.coupons .coupon img {
  width: 45%;
  object-fit: cover;
}

.coupons ul {
  margin-bottom: 0;  
  padding-left: 0;/* reboot? */
  gap: var(--base_unit) 0;
}

.coupons .coupon .text_box {
  margin-left: 20px;
  width: calc(55% - 40px);
}

.coupons .coupon h3 {
  font-weight: bold;
  margin: 10px 0;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.coupons .coupon h3 a:hover {
  color: var(--point_primary);
  border-bottom: 1px solid var(--point_primary);
}

.coupons .coupon p {
  margin-bottom: 0;
}


.coupons .coupon .icons,
.coupons .coupon .form-check {
  position: absolute;
  right: 15px;
}

.coupons .coupon .icons {
  font-size: 25px;
  top: 10px;
}

.coupons .coupon .form-check {
  bottom: 15px;
  transform: scale(1.5);
}