.sub_header h2 {
  margin-bottom: calc(var(--base_unit)*2);
}

.coupon_info {
  gap: 3%;
}
.coupon_info .thumbnail {
  width: 30%;
  min-width: 300px;
}

.coupon_info .thumbnail .show_thumb {
  padding-top: 70%;
  position: relative;
}

.coupon_info .thumbnail .show_thumb:before {
  content: '이미지 등록';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.coupon_info .thumbnail .thumb_btn {
  margin-top: var(--base_unit);
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}

.coupon_info .coupon_info_box {
  flex: 1;
  gap: var(--base_unit);
}

.coupon_info .coupon_info_box .input-group {
  height: auto;
}

.coupon_info .coupon_info_box label {
  margin-bottom: var(--base_unit);
  line-height: 1;
  width: 100%;
}

.coupon_info .coupon_info_box h3 {
  width: 100%;
}

.coupon_info .coupon_info_box .info_bottom {
  gap: 4%;
}

.coupon_info .coupon_info_box .coupon_name {
  width: 100%;
}
.coupon_info .coupon_info_box .coupon_min_price {
  width: 63%;
}

.coupon_info .coupon_info_box .coupon_status_check {
  gap: var(--base_unit);
  margin-top: var(--base_unit);
}

.coupon_info .coupon_info_box .coupon_status label {
  margin-bottom: 0;
  padding-left: 5px;
}


.coupon_option {
  margin-top: calc(var(--base_unit)*1.5);
  gap: 4%;
}

.coupon_option > div {
  width: 48%;
}

.coupon_option .form-check {
  gap: 15px;
  margin-top: var(--base_unit);
}

.coupon_option label {
  white-space: nowrap;
}

.coupon_option .form-control {
  width: auto;
  flex: 1;
}

.coupon_limit_date_check div:first-child {
  height: 38px;
}

.submit_btns {
  margin: calc(var(--base_unit)*2) 0;
  gap: calc(var(--base_unit)/2);
}