.cart_container > h2 {
  margin-top: 130px;
}

.all_check {
  gap: 0 15px;
}

.cartOpBtns {
  gap: 0 var(--base_unit);
  margin: var(--base_unit) 0;
}

.select_count {
  margin-left: 15px;
}

.select_del {
  padding: 7px 16px;
  font-weight: 500;
  height: auto;
}

.cart_item_container {
  gap: var(--base_unit) 0;
  padding: 0;
}

.cart_item {
  position: relative;
  display: flex;
  height: calc(var(--base_unit)*7);
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;

}

.cart_item *:not(label) {
  z-index: 10;
}

.cart_item label {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  cursor: pointer;
}

.cart_item img {
  width: 230px;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  margin-left: 10px;
}

.cart_item .text_box {
  margin-left: var(--base_unit);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart_item .title {
  display: flex;
  gap: 0 5px;
  align-items: center;
  margin: 7px 0;
}

.cart_item h3 {
  font-weight: bold;
  margin-bottom: 0;
}

.cart_item .descript {
  flex: 1;
  padding-right: var(--base_unit);
  line-height: 1.7;
  height: 106px;
}

.cart_item .descript p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cart_item .price {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.cart_item .date {
  color: var(--font_gray);
}

.cart_item .del_btn {
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}

.form_container {
  padding-left: var(--base_unit);
}

.payment_form {
  background-color: #fff;
  padding: 25px 20px;
  height: calc(var(--base_unit)*15);
  position: sticky;
  top: calc(var(--base_unit)*2);
}

.coupon_select .current {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  display: block;
}

.payment_form h3 {
  font-weight: bold;
  margin: 10px 0 15px;
}

.payment_form hr:nth-of-type(1){
  margin-top: 70px;
}


.payment_form .payment_info p {
  margin-bottom: 0;
}

.payment_info + .payment_info {
  margin-top: 20px;
}

.payment_total .b_text01 {
  font-weight: bold;
}

.submit_btn {
  width: 100%;
  font-weight: bold;
}

footer {
  margin-top: calc(var(--base_unit)*3);
}