
.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: .15s ease-in-out .15s ease-in-out;
}

.qna,
.review{
  background: white;
}
section h2{
  padding-bottom: calc(var(--base_unit)*2);
}
.search_box{
  height: 90px;
  margin-bottom: var(--base_unit);
}

#search{
  width: 300px;
  margin: 0 calc(var(--base_unit)*0.5);
}
.search_button{
  color: var(--white_bg);
  font-weight: bold;
}
table{
  text-align: center;
  padding-bottom: 100px;
}

table tbody tr:last-child td:last-child{
  padding-bottom: var(--base_unit) !important;
}
tbody, td, tfoot, th, thead, tr{
  border-style: none;
}
table thead {
  height: 75px;
  line-height: 75px;
}
table thead tr th{
  font-weight: bold;
}
table thead tr th:nth-child(2),
table tbody tr td:nth-child(2){
  text-align: left;
}
nav .pagination{
  justify-content: center;
}
.page-link{
  /* color: var(--font_gray); */
  color: #6C757D;
}


/* qna_content */
.qna{
  padding: calc(var(--base_unit)*2);
  background: var(--white_bg);
}

.user{
  height: 60px;
  line-height: 60px;
  padding-left: calc(var(--base_unit)*3);
  gap: calc(var(--base_unit));
}
.you{
  font-weight: bold;
}
.day{
  font-size: 16px;
  color: grey;
}
.qna_content{
  padding-left: calc(var(--base_unit)*6);
}
.qna_content p{
  padding: var(--base_unit) var(--base_unit) var(--base_unit) 0;
}
.i_con{
  padding: 0 0 var(--base_unit) calc(var(--base_unit)*6);
  line-height: var(--base_unit);
  gap: 10px;
}

.master{
  background-color: var(--light_blue_bg);
  margin: 0 calc(var(--base_unit)*3) var(--base_unit) calc(var(--base_unit)*6);
  padding: var(--base_unit);
}
.master .wrap{
  line-height: 60px;
  gap: var(--base_unit);
}
.master p{
  padding-top: var(--base_unit);
}
.ti{
  font-size: 30px;
}
.master p{
  margin-left: calc(var(--base_unit)*3);
  margin-right: var(--base_unit);
}

.review{
  padding: var(--base_unit) calc(var(--base_unit)*3);
  gap: calc(var(--base_unit)*0.5);
}

.review .btn{
  white-space: nowrap;
  font-size: 16px;
  height: calc(var(--base_unit)*1.5);
}
.list{
  margin-bottom: 100px;
}
.list_button{
  margin-top: calc(var(--base_unit)*2);
  right: 0;
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
  height: calc(var(--base_unit)*1.5);
}


/*  */

.saveButton{
  display: none;
}
.waiting {
  color: grey !important;
}

.completed {
  color: blue !important;
}

.list_up form{
  margin-top: 100px;
}

.replyButton{
  gap: 15px;
}
.order{
  display: flex;
  gap: calc(var(--base_unit)*0.5);
}
.order .btn{
  margin-top: 60px;
}