.qna{
  padding: calc(var(--base_unit)*2);
}
h2{
  padding-bottom: calc(var(--base_unit)*2);
}
.shadow_box{
  background-color: var(--white_bg);
}
.user{
  height: 60px;
  line-height: 60px;
  padding-left: calc(var(--base_unit)*3);
  gap: var(--base_unit);
}
.you{
  font-weight: bold;
}
.day{
  font-size: 16px;
  color: grey;
}
.qna_content{
  padding-left: calc(var(--base_unit)*6);
}
.qna_content p{
  padding: var(--base_unit) var(--base_unit) var(--base_unit) 0;
}
.i_con{
  padding: var(--base_unit) 0 var(--base_unit) calc(var(--base_unit)*6);
  line-height: var(--base_unit);
  gap: 10px;
}
.i_con .sircle{
  padding-left: 20px;  
}
.master{
  background-color: var(--light_blue_bg);
  margin: 0 calc(var(--base_unit)*3) var(--base_unit) calc(var(--base_unit)*6);
  padding: var(--base_unit);
}
.master .wrap{
  line-height: 60px;
  gap: var(--base_unit);
}
.ti{
  font-size: 30px;
}
.master p{
  margin-left: calc(var(--base_unit)*3);
  margin-right: var(--base_unit);
}

.review{
  padding: var(--base_unit) calc(var(--base_unit)*3);
  gap: var(--base_unit);
}

.review .btn{
  width: 150px;
  white-space: nowrap;
  font-weight: bold;
}
.list{
  margin-bottom: 100px;
}
.list_button{
  margin-top: calc(var(--base_unit)*2);
  right: 0;
  width: 150px;
  white-space: nowrap;
  font-weight: bold;
}
