@charset "UTF-8";
/* @import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"); */
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
  
* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

:root {
  --white_bg: #fff;
  --gray_bg: #f8f8f8;
  --light_blue_bg: #e8f7ff;
  --dark: #1e2226;
  --point_primary_hover: #4e7cff;
  --point_primary_focus: #7095ff;
  --point_primary: #5d87ff;
  --point_red_hover: #f87d5d;
  --point_red: #fa896b;
  --point_red_focus: #ff9b81;
  --point_blue: #48befe;
  --point_yellow: #ffae1f;
  --point_navy_focus: #455674;
  --point_navy: #333f55;
  --point_navy_hover: #293346;
  --point_green: #14ddb9;
  --badge_blue_BG: #277dac;
  --badge_blue: #a8defc;
  --badge_yellow_BG: #ffd180;
  --badge_yellow: #cc673c;
  --badge_red_BG: #ffb39f;
  --badge_red: #b1543b;
  --badge_green_BG: #a6e8dc;
  --badge_green: #229681;
  --badge_padding: 4px 8px;
  --base_unit: 30px;
}

/* reset */
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
}
img,
video {
  vertical-align: bottom;
}
.hidden {
  display: none;
}

/* layout */
body {
  background-color: var(--gray_bg);
}

.wrap {
  display: flex;
}

/* TYPOGRAPHY */

.main_tt {
  font-family: "Jua", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.main_stt {
  font-size: 28px;
  font-weight: bold;
}

.content_tt {
  font-size: 24px;
  font-weight: bold;
}

.content_stt {
  font-size: 20px;
  font-weight: 400;
}

.b_text01 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.b_text02 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/*COLOR*/

.primary_bg {
  background-color: var(--point_primary);
  color: var(--white_bg);
}

.primary {
  color: var(--point_primary);
}
.white_bg {
  background-color: var(--white_bg);
  color: var(--dark);
}
.white {
  color: var(--white_bg);
  background-color: var(--dark);
}
.light_blue_bg {
  background-color: var(--light_blue_bg);
  color: var(--point_primary);
}
.light_blue {
  background-color: var(--point_primary);
  color: var(--light_blue_bg);
}

.gray_bg {
  background-color: var(--gray_bg);
  color: var(--dark);
}

.gray {
  background-color: var(--dark);
  color: var(--gray_bg);
}
.dark_bg {
  background-color: var(--dark);
  color: var(--white_bg);
}

.dark {
  color: var(--dark);
}

.blue_bg {
  background-color: var(--point_blue);
}

.blue {
  color: var(--point_blue);
}

.yellow_bg {
  background-color: var(--point_yellow);
}

.yellow {
  color: var(--point_yellow);
}

.red_bg {
  background-color: var(--point_red);
}

.red {
  color: var(--point_red);
}

.navy_bg {
  background-color: var(--point_navy);
}

.navy {
  color: var(--point_navy);
}

.green_bg {
  background-color: var(--point_green);
}

.green {
  color: var(--point_green);
}

/* BUTTONS */
.btn {
  font-size: 16px;
  height: 45px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-dark {
  background-color: var(--point_navy) !important;
  border: none;
}
.btn-dark:hover {
  background-color: var(--point_navy_hover) !important;
}

.btn-dark:active {
  background-color: var(--point_navy_focus) !important;
}

.btn-danger {
  background-color: var(--point_red) !important;
  border: none;
}
.btn-danger:hover {
  background-color: var(--point_red_hover) !important;
}

.btn-danger:active {
  background-color: var(--point_red_focus) !important;
}

.btn-primary {
  background-color: var(--point_primary) !important;
  border: none;
}
.btn-primary:hover {
  background-color: var(--point_primary_hover) !important;
}

.btn-primary:active {
  background-color: var(--point_primary_focus) !important;
}

.form-check-input:checked {
  background-color: var(--point_primary);
  border-color: var(--point_primary_hover);
}

.pen_icon:hover,
.bin_icon:hover {
  color: var(--point_primary);
  cursor: pointer;
}

.bin_icon:hover {
  color: red;
}

/* BADGES */

.badge_blue {
  background-color: var(--badge_blue);
  color: var(--badge_blue_BG);
}

.badge_yellow {
  background-color: var(--badge_yellow_BG);
  color: var(--badge_yellow);
}

.badge_red {
  background-color: var(--badge_red_BG);
  color: var(--badge_red);
}

.badge_green {
  background-color: var(--badge_green_BG);
  color: var(--badge_green);
}

.b-pd {
  padding: 4px 8px;
  gap: 100px;
}

/* ICONS */
.icon {
  text-decoration: none;
  color: var(--dark);
}

.icon:hover {
  color: var(--point_primary);
}

/* datepicker */
#datepicker {
  border-radius: 6px;
  border: 1px solid #c2c4c7;
}

/* PAGINATION */
.pager {
  margin: calc(var(--base_unit) * 3) 0 calc(var(--base_unit) * 2);
}

.page-link:hover {
  background-color: var(--point_primary);
  color: var(--white_bg);
}

.page-item.active .page-link {
  background-color: var(--point_primary) !important;
  color: var(--white_bg) !important;
  border-color: var(--bs-border-color) !important;
}

.red_bell_wrap {
  position: relative;
  cursor: pointer;
}

.red_bell {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 2px;
  right: 10px;
  background-color: var(--point_red);
}

/* SELECT */
.form-select:focus {
  border-color: var(--point_primary);
  box-shadow: 0px 0px 0px 4px rgba(93, 135, 255, 0.3);
}
.form-select option:focus {
  background-color: #48befe;
}

.btn-secondary {
  border: var(--bs-border-width) solid var(--bs-border-color);
  --bs-btn-color: var(--dEark);
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #6c757d;

  --bs-btn-hover-color: var(--dark);
  --bs-btn-hover-bg: #ffffff;
  --bs-btn-hover-border-color: #6c757d;

  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: var(--dark);
  --bs-btn-active-bg: #ffffff;
  --bs-btn-active-border-color: #6c757d;
  /* --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
  --bs-btn-active-shadow: none;

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

/* TOOLTIP */
.tt {
  margin: 50px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--point_primary);
  --bs-tooltip-color: var(--white_bg);
}

/* FORM */
.form-control:focus {
  border-color: var(--point_primary);
  box-shadow: 0px 0px 0px 4px rgba(93, 135, 255, 0.3);
}
.form-control.input_error:focus {
  border-color: var(--point_red);
  box-shadow: 0px 0px 0px 4px rgba(250, 137, 107, 0.3);
}

/* .input-group input {
  height: 45px;
} */

.input-group input {
  height: 45px;
  font-size: 16px;
}

input.form-control::placeholder {
  color: rgba(0,0,0,.4);
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

/* BOX SHADOW */
.shadow_box {
  box-shadow: 2px 5px 14px 0px rgba(116, 120, 128, 0.25);
}

/* BORDER RADIUS */
.border {
  border-radius: 5px;
}
.box {
  width: 250px;
  height: 160px;
  border: 1px solid var(--gray_bg);
}

/* LOGO */
.adminlogo {margin-top: -10px; transform: scale(0.85);}
.adminlogo > a {
  background-image: url("../images/adminLogo.png");
  width: 222px;
  height: 76px;
  background-size: 222px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999999em;
  
}

.colorlogo > a {
  background-image: url("../images/colorLogo.png");
  width: 222px;
  height: 76px;
  background-size: 222px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999999em;
}

/* Drop down */

.custom-dropdown {
  position: relative;
  border: 1px solid #c2c4c7;
  border-radius: 6px;
  color: #747880;
  background-color: #fff;
}

.custom-dropdown:focus {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.selected-option {
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.options-list {
  display: none;
  position: absolute;
  top: 100%;
  left: -0.5px;
  right: -0.5px;
  margin-top: -4px;
  background-color: #fff;
  border: 1px solid #c2c4c7;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.custom-dropdown .modify-button {
  margin-right: 10px;
}

.options-list li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.options-list li:hover .option_name {
  color: var(--point_primary);
}
.options-list li:hover {
  background-color: #ecf2ff;
}
.options-list .delete-button:hover .bin_icon {
  color: var(--point_red_hover);
}

/* header */
header {
  width: 350px;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--white_bg);
}
header nav {
  flex: 1;
}

header nav .icon {
  display: flex;
  align-items: center;
}

header nav .icon:hover > * {
  background-color: rgba(93, 135, 255, 0.1);
}

header nav .icon i {
  padding-left: 5px;
  padding-right: 10px;
  font-size: 28px;
  line-height: 36px;
  border-radius: 5px 0 0 5px;
}

.inner_header nav .icon span {
  display: inline-block;
  padding: 0 5px;
  border-radius: 0 5px 5px 0;
}

header .inner_header {
  padding: 50px 0;
  height: 100%;
}

header .inner_header ul {
  height: 100%;
  padding: calc(var(--base_unit)*2) 0;
}

header .logout {
  margin-top: calc(var(--base_unit)/2);
  padding: 0 var(--base_unit);
  font-weight: bold;
}

.content_wrap {
  width: calc(100% - 350px);
  margin-left: 350px;
  padding: 0 calc(var(--base_unit) * 2);
}

.top_bar {
  width: 100%;
  height: calc(var(--base_unit) * 3.5);
}

.top_bar .red_bell_wrap {
  margin-top: 10px;
  margin-right: 10px;
}

.top_bar .red_bell {
  text-align: center;
  color: var(--white_bg);
}

.top_bar .profile h2 {
  margin-bottom: 0;
  margin-left: calc(var(--base_unit)/2);
  font-weight: bold;
}

.top_bar .profile span {
  font-weight: lighter;
  padding-left: 10px;
}

.top_bar .profile img {
  width: 50px;
}

/* style padding */
.style_pd {
  padding: 20px 0px;
}
