.tt_mb{
  margin-bottom: calc(var(--base_unit)* 2);
}
ol, ul {
  padding-left: 0;
}
.row>* {
  padding-right: 0;
  padding-left: calc(var(--bs-gutter-x) * 1);
  margin-top: var(--bs-gutter-y);
}
.dashboard_wrap .row {
  margin-bottom: 0;
  white-space: nowrap;
}
.sales {
  height: 390px;
}
.sales li {
  width: 28%;
}
.sales img {
  width: 224px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
.dashboard_wrap .content_box {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  margin-bottom: var(--base_unit);
}
.content_box h2 {
 font-size: 24px;
 line-height: 65px;
 padding-left: 30px;
}
.content_box h2 i {
  margin-right: 15px;
 }
.sales_lank {
  text-align: center;
  margin-top: calc(var(--base_unit)*1.5);
 }
.content_box .badge {
  margin: 16px auto 10px;
  width: 50px;
  text-align: center;
 }
.sales_lank h3 {
  color: #747880;
  font-size: 20px;
  margin-bottom: 6px;
 }
.sales_lank p {
  font-size: 16px;
 }

.total_values .content_box > div {
  text-align: center;
}

.total_values .content_box h2 {
  padding-left: 0;
}
.total_values .content_box {
  height: 180px;
 }
.total_values .content_box:last-child {
  margin-bottom: 0;
 }
.total_values h2 {
  padding-left: 30px;
 }
.total_values p{
  font-size: 20px;
  line-height: 100px;
  padding-bottom: 30px;
 }
 .total_values .content_box .col-md-6:first-child p{
  position: relative;
 }
 .total_values .content_box .col-md-6:first-child p:before {
  content:'';
  position: absolute;
  top: 15px;
  bottom: 50px;
  right: 0;
  width: 2px;
  background-color: #d6d6d6;
 }
.total_values span{
  font-size: 32px;
  font-weight: bold;
 }

 .total_values .people {
  font-size: unset;
 }
.total_values .col-md-6{
  text-align: center;
 }
.monthly_wrap{
  height: 330px;
  padding: 30px 90px;
}
.category_wrap{
  height: 330px;
  padding: 30px;
}
.category_wrap canvas{
  margin: 0 auto;
}

.chart,.notice {
  height: 400px;
}

.noti_con {
  padding: 10px var(--base_unit);
}

.noti_con p {
  padding: 5px 0;
  position: relative;
  margin-bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.noti_con p:hover {
  color: var(--point_primary_hover);
  text-decoration: underline;
}

