main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.loginlogo > a {
  background-image: url("../images/adminLogo_2.png");
  width: 368px;
  height: 176px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999999em;
  transform: scale(0.95);
}

.login_box {
  text-align: center;
  width: 606px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  padding: 20px 0px;
}

#userid::placeholder,
#password::placeholder {
  color: #c2c4c7;
  text-transform: uppercase;
}

#userid,
#password {
  width: 100%;
  border: none;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main label {
  display: none;
}

.login_btn {
  width: 100%;
  padding: 10px 30px;
}

.base_mg_top {
  margin-top: var(--base_unit);
}


/* popup */
.popup {
  font-size: 14px;
  line-height: 23px;
  border-color: var(--point_red);
  margin: 45px calc(var(--base_unit)*2) 0;
  border-radius: 5px;
  z-index: 9999;
}

.popup p {
  margin: 0;
}

.popup dd {
  margin: 0;
}

.popup .bold,
.popup #daycheck:checked + label {
  font-weight: bold;
}

.popup .figma,
.popup .git {
  text-decoration: underline;
  color: var(--point_primary);
}


.popup hr {
  margin: 7px 0;
}

.popup #close {
  padding: 5px 20px;
  background-color: var(--point_red);
  color: #fff;
}
.popup #close:hover {background-color: var(--point_red_hover);}
.popup #close:active {background-color: var(--point_red_focus);}