main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.loginlogo > a {
  background-image: url("../images/Logo.png");
  width: 222px;
  height: 76px;
  background-size: 222px;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -999999em;
}

.login_box {
  text-align: center;
  width: 606px;
  /* height: 76px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginpage_logo > a {
  width: 356px;
  height: 121px;
  background-size: 356px;
}

form {
  padding: 30px 0px;
}

#username::placeholder,
#password::placeholder {
  color: #c2c4c7;
  text-transform: uppercase;
}

#username,
#password {
  width: 100%;
  border: none;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

main label {
  display: none;
}

.login_btn {
  width: 100%;
  padding: 10px 30px;
}

.base_mg_top {
  margin-top: var(--base_unit);
}
